.content {
    /*background-color: #ffffff;*/
}

.content-left {
    margin-top: 0;
}

.content-right {
    /*background-color: cornflowerblue;*/
    /*background-color: #ffffff;*/
}

.wrapper {
    background-color: #f5f5f5;
    padding-top: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px;
}
