.toolbarButton {
    display: flex;
    width: 100%;
}

.toolbarButtonLeft {
    flex-grow: 1;
    align-items: center;
}

.toolbarButtonRight {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: right;
}

