.mailItem {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.mailItemContent {
    flex-grow: 1;
}

.mailItemToolBar {
    display: flex;
    width: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.mailItemToolBar:hover {
    /*color: red;*/
    /*background-color: rgba(255, 0, 0, 0.49);*/
}



